[Unit]
Description=openvoiceassistant node
After=multi-user.target

[Service]
WorkingDirectory=OVAPATH
ExecStart=/bin/bash OVAPATH/scripts/start_node.sh
User=USER
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target